	<div class="uk-container uk-container-center uk-margin-top">
		<div class="uk-panel uk-margin-bottom">
				<div class="uk-panel uk-panel-box uk-margin-bottom">
					<h2 class="uk-panel-title">Meu Estoque</h2>
					<hr class="uk-grid-divider">
					<div class="uk-panel uk-panel-box uk-panel-box-secondary">
						<div class="uk-panel"><div class="uk-badge uk-width-1-2">Minhas Peças: 150</div><div class="uk-badge uk-width-1-2">Peças Alocadas: 120</div></div>
						<!-- Alocação de peças apenas em numeros -->
						<ul class="uk-list uk-list-striped uk-margin-left uk-column-medium-1-2">
							<li><b>Nome</b> -  2 Peças - <button class="uk-button uk-button-secondary"> Alocar</button> | Próximo Acerto: 00/00/0000 (0 dias)</li>
							<li><b>Nome</b> -  2 Peças - <button class="uk-button uk-button-secondary"> Alocar</button> | Próximo Acerto: 00/00/0000 (0 dias)</li>
							<li><b>Nome</b> -  2 Peças - <button class="uk-button uk-button-secondary"> Alocar</button> | Próximo Acerto: 00/00/0000 (0 dias)</li>
							<li><b>Nome</b> -  2 Peças - <button class="uk-button uk-button-secondary"> Alocar</button> | Próximo Acerto: 00/00/0000 (0 dias)</li>
							<li><b>Nome</b> -  2 Peças - <button class="uk-button uk-button-secondary"> Alocar</button> | Próximo Acerto: 00/00/0000 (0 dias)</li>
							<li><b>Nome</b> -  2 Peças - <button class="uk-button uk-button-secondary"> Alocar</button> | Próximo Acerto: 00/00/0000 (0 dias)</li>
							<li><b>Nome</b> -  2 Peças - <button class="uk-button uk-button-secondary"> Alocar</button> | Próximo Acerto: 00/00/0000 (0 dias)</li>
							<li><b>Nome</b> -  2 Peças - <button class="uk-button uk-button-secondary"> Alocar</button> | Próximo Acerto: 00/00/0000 (0 dias)</li>
						</ul>
						<div class="uk-panel uk-panel-box"><div class="uk-align-center"><b>Total vendido: R$00,00</b></div></div>
					</div>
				</div>
		</div>
	</div>

	<!-- Na troca de estoque completo o valor do envio tem que ser descontado e tudo será conferido
	No acerto 
	
	
	
	 -->