	<div class="uk-container uk-container-center uk-margin-top" ng-controller="EstoqueInicioController">
		<div class="uk-panel uk-margin-bottom uk-text-center">
			<div class="uk-grid uk-grid-match">
				<div class="uk-panel uk-panel-box uk-margin-bottom uk-width-1-1 uk-width-medium-1-2 uk-container-center">
					<h2 class="uk-panel-title">Pedidos Pendentes</h2>
					<hr class="uk-grid-divider">
					<div class="uk-panel">
						<a ui-sref="Pedidos" class="uk-button uk-button-secondary">
							<h1>{{dados.pedidos}}</h1>			
							<p>(Saída de Peças)</p>		
						</a>	
					</div>
				</div>
				<div class="uk-panel uk-panel-box uk-margin-bottom uk-width-1-1 uk-width-medium-1-2 uk-container-center">
					<h2 class="uk-panel-title">Próximos Acertos</h2>
					<hr class="uk-grid-divider">
					<div class="uk-panel">
						<dl class="uk-description-list-horizontal uk-container-center">
							<span ng-repeat="info in dados.acertos | limitTo: 4" class="uk-description-list-horizontal">
								<dt>{{info.info}}</dt>
								<dd>{{info.desc | currency}}</dd>
							</span>
						</dl>							
					</div>
				</div>
			</div>
			<hr class="uk-grid-divider">
			<div class="uk-panel uk-width-1-1">
				<div class="uk-panel uk-panel-box uk-margin-bottom uk-width-1-1 uk-width-small-1-2 uk-container-center">
					<h3 class="uk-panel-title"> Peças</h3>
					<div class="uk-panel">
						<dl class="uk-description-list-horizontal uk-container-center">
							<span ng-repeat="info in dados.pecas | limitTo: 4" class="uk-description-list-horizontal">
								<dt>{{info.info}}</dt>
								<dd>{{info.desc}} <i class="uk-icon-line-chart"></i></dd>
							</span>
						</dl>
						<button class="uk-button"><i class="uk-icon-plus"></i>Adicionar</button>		
					</div>
				</div>
				<div class="uk-panel uk-margin-bottom uk-width-1-1 uk-width-small-1-2 uk-container-center">
					<div class="uk-panel">
						<button class="uk-button uk-width-1-1 uk-margin-bottom">Solicitação de material</button>
						<button class="uk-button uk-width-1-1">Outras despesas</button>					
					</div>
				</div>
			</div>
		</div>
	</div>