<div class="container">
            <div class="row">
                <div class="col s12 m6">
                <div class="card small center-align fundoAmarelo">
                    <div class="card-content">
                        <span class="card-title">Encomendas</span>
                        <h1 >12</h1>                    
                    </div>
                    <div class=card-action>
                        <a class="waves-effect waves-light btn">Ver Todas</a>
                    </div>
                </div>
                </div>
                <div class="col s12 m6">
                <div class="card small center-align fundoAmarelo">
                    <div class="card-content">
                    <span class="card-title">Próximos Acertos</span>
                        <ul class="collection">
                            <li class="collection-item">Alvin</li>
                            <li class="collection-item">Alvin</li>
                            <li class="collection-item">Alvin</li>
                        </ul>
                    </div>
                    <div class=card-action>
                        <a class="waves-effect waves-light btn">Ver Todos</a>
                    </div>
                </div>
                </div>
            </div>
            <div class="row">
                <div class="col s12 m6 push-m3">
                <div class="card center-align fundoAmarelo">
                    <div class="card-content">
                        <span class="card-title">Peças</span>
                        <p>I am a very simple card. I am good at containing small bits of information.
                        I am convenient because I require little markup to use effectively.</p>
                    </div>
                    <div class=card-action>
                        <a class="waves-effect waves-light btn"><i class="material-icons left">add</i>Adicionar</a>
                    </div>
                </div>
                </div>
            </div>
        </div>